.nav{
    z-index: 1000;
    padding: 1vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 252, 250);
    border-bottom: 1px solid rgb(16, 86, 190)
}

.navlinks{
    color: rgb(8, 5, 5);
    text-decoration: none;
    margin:  1vmax 1.2vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.1vmax;
}

.navlinks:hover{
    text-decoration: none;
    color: rgb(255, 115, 0);
}

.searchbox{
    position: relative;
    left: 5vmax;
    width: 5vmax;
}

.searchbox > input{
    border: none;
    border-bottom: 1px solid black;
    width: 15vmax;
font-size: 1.1vmax;
outline: none;
color: rgba(5, 5, 5, 0.993);
font-weight: 100;


}